form action="/fruit" method="post"
    input name="n" placeholder="delete existing fruit" type="text" 
    input name="a" placeholder="how many?" type="number"
    input type="submit" value="Delete!!"